
    <header></header>
    <div class="title">TITLE</div>
<div class="main_container">
    <div class="sidebar">

    <div class="product">
                <img src="images/products/products1.webp" alt="">
                <h4>Body Lotion</h4>
            </div>

            <div class="product">
                <img src="images/products/products1.webp" alt="">
                <h4>Facial Cream</h4>
            </div>

            <div class="product">
                <img src="images/products/products1.webp" alt="">
                <h4>Bleaching Cream</h4>
            </div>
    </div>
    <div class="main_body">Content</div>
    </div>
    <footer></footer>

