<div class="container">
    <h2>TODAY'S FOOD ITEMS</h2>
    
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>S/N</th>
          <th>Name</th>
          <th>Macro-Nutrients</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Burger</td>
          <td>Fat & Protein</td>
        </tr>
        <tr>
          <td>2</td>
          <td>CheeseBurger</td>
          <td>Iron & Vitamins</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Meat pie</td>
          <td>carbonhydrate & Protein</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Pizza</td>
            <td>carbonhydrate & Protein</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Fish & Vegetables</td>
            <td>Minerals</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Milk</td>
            <td>Fat & Oil</td>
          </tr>
          <tr>
             <td colspan="3"> SUM OF MACRO-NUTRIENTS</td>
          </tr>
          <tr>
              <td>carbonhydrate</td>
              <td>Fat</td>
              <td>Protein</td>
          </tr>
          <tr>
              <td>3</td>
              <td>2</td>
              <td>3</td>
          </tr>
      </tbody>
    </table>
    <button id="select" type="button" class="btn btn-danger" >Remove from today's list</button>
  </div>
  
