<div class="footer">
    <div class="footer1">
        <div class="footer_column">
           <h3>CONTACT</h3>
           <p>18 King Street East<br/>
            Suite 1400<br/>
            Toronto, Ontario<br/>
            M5C 1C4 Canada<br/><br/>
            
            Phone: 416.574.1112<br/>
            Toll free: 1.647.735.5848<br/>
             Canada</p>
        </div>
        <div class="footer_column">
        <h3>SERVICES</h3>
           <p>
               Food List<br>
               Balance diet <br>
               Canadian food <br>
           </p>
        </div>
        <div class="footer_column">
        <h3>FAQ</h3>
           <p>
               shipping<br>
               contact<br>
               about us<br>
             
           </p>
        </div>
    </div>
    <div class="footer2"><span> All rights reserved &copy;2022 </span></div>

</div>
