<div class="main_container">
    <div class="sidebar">

            <div class="product">
                <a routerLink ="/food-list"><h1>Food List</h1></a>
            </div>

            <div class="product">
                <a routerLink ="/today"><h1>Today</h1></a>
            </div>

            <div class="product">
                <a routerLink ="/charts"><h1>Charts</h1></a>
            </div>
    </div>
    <div class="main_body">
        <router-outlet></router-outlet>
        
    </div>
    </div>  
