<div class="container">
    <h2>FOOD ITEMS</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>Names</th>
          <th>Macro-Nutrients</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Yam</td>
          <td>Carbohydrates</td>
        
        </tr>      
        <tr class="success">
          <td>Beans</td>
          <td>Protein</td>
       
        </tr>
        <tr class="danger">
          <td>Legumes</td>
          <td>Vegetable</td>
       
        </tr>
        <tr class="info">
          <td>Milk</td>
          <td>Fat & Oil</td>
       
        </tr>
        <tr class="warning">
          <td>Fish</td>
          <td>Minerals</td>
        
        </tr>
        <tr class="active">
          <td>Meat</td>
          <td>Proteins</td> 
        </tr>
      </tbody>
    </table>
    <button id="select" type="button" class="btn btn-success" >Add to today's list</button>
  </div>
  
